body {
  font-family: 'Roboto';
  line-height: 1.2;
}

::-webkit-input-placeholder {color:#6D6E71;}
::-moz-placeholder          {color:#6D6E71;}
:-moz-placeholder           {color:#6D6E71;}
:-ms-input-placeholder      {color:#6D6E71;}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.search_field {
	background: #EBEBEC;
	border-top: 2px groove #858689; 
	padding: 9px 0;
	-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
	margin-bottom: 15px;
	input {
		font-size: 9px;
		padding: 5px 8px;
		border: 1px solid #939598;
		background: #fff url(../img/search.png) 98% center no-repeat;
		width: 47%;
	}
}
	.search_field .container {
		background: url(../img/ribbon_pink.png) left 8px no-repeat;
		padding-left: 30px;
	}
.search_field__title {
	color: #6D6E71;
	font-size: 8px;
	font-weight: 300;
	display: block;
}

/*-------------------------demo drug-----------------------*/

.drug {
	width: 50%;
	padding-right: 3%;
	float: left;
	section {
		margin-bottom: 10px;
	}
	h1, h2 {
		font-size: 11px;
		font-weight: 700;
		color: #939598;
		margin-bottom: 5px;
	}
	p {
		font-size: 9px;
		color: #6D6E71;
		line-height: 1.2;
	}
	ol {
		list-style: decimal;
		font-size: 9px;
		color: #6D6E71;
		line-height: 1.2;
		padding-left: 12px;
	}
}
.demo_drug {
	padding-left: 30px;
	background: url(../img/drug_ico.png) no-repeat left top;
}

.drug_other_names {
	ol {
		color: #029AE4;
		span {
			color: #6D6E71;
		}
		b {
			font-weight: 400;
		}
	}
}
.side_effects_drug {
	padding-left: 30px;
	background: url(../img/dislike-ico.png) no-repeat left 4px;
	h3 {
		font-size: 12px;
		font-weight: 700;
		color: #939598;
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 25px;
	}
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}

/*-------------------------conversations-----------------------*/

.conversations {
	width: 40%;
	float: right;
	padding-left: 2%;
	h3 {
		font-size: 11px;
		font-weight: 700;
		color: #939598;
		margin-bottom: 5px;
		float: left;
		b {
			font-size: 12px;
			color: #029AE4;
		}
	}
	.btn_style {
		float: right;
	}
}
.conversations__header {
	padding-left: 33px;
	background: url(../img/user-ico.png) no-repeat 5px top;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 8px;
}
.btn_style {
	font-size: 9px;
	color: #fff;
	background: #029AE4;
	padding: 4px 6px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}
.dialogs {
	border: 1px solid #939598;
}
.dialogs_item {
	padding: 10px 16px 9px;
	border-bottom: 1px solid #939598;
	p {
		font-size: 8px;
		color: #6D6E71;
		margin-bottom: 8px;
	}
}
.dialogs_item__footer {
	text-align: center;
}
.dialogs_item__url, .dialogs_item__date, .dialogs_item__location {
	font-size: 8px;
	color: #939598;
}
.dialogs_item__url {
	text-decoration: none;
	float: left;
	margin-top: 3px;
}
.dialogs_item__date {
	float: right;
	background: url(../img/date-ico.png) no-repeat left 1px;
	padding: 3px 0 3px 15px;
	margin-top: 1px;
}
.dialogs_item__location {
	background: url(../img/map-ico.png) no-repeat left center;
	overflow: hidden;
	padding: 5px 0 2px 10px;
	margin: 0 auto;
	display: inline;
	text-align: center;
}
.more_stories {
	font-size: 9px;
	color: #029AE4;
	text-decoration: none;
	width: 70px;
	margin: 0 auto;
	display: block;
	padding: 9px 0 9px 18px;
	background: url(../img/arrow_down.png) no-repeat left center;
}