// Normally mainpage styles
.wrapper{
	font-family: 'Roboto';
	min-width: 850px;
}
.container{
	width: 790px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
//header
.header{
	position: relative;
	overflow: hidden;
	background: #fff;
	margin: auto;
	padding: 13px 0 10px 0;
}
	.logo{
		float: left;
		font-size: 12pt;
		font-family: 'Roboto';
		font-weight: 500;
		a{
			color: #039be5;
			text-decoration: none;
			i{
				color: #6d6e71;
				font-style: normal;
			}
		}	
	}
	.sign_in{
		float: right;
		padding: 21px 0 0 0;
		a{
			display: inline-block;
			color: #039be5;
			text-decoration: none;
			font-weight: 500;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.head_center{
		overflow: hidden;
		text-align: center;
		form{
			padding: 18px 35px 0 0;
			display: inline-block;
			position: relative;
			width: 90px;
			height: 20px;
			input[type=text]{
				width: 75px;
				font-size: 10pt;
				color: #039be5;
				font-family: 'Roboto';
				&::placeholder{
					color: #039be5;
					font-size: 8pt;
				}
			}
		}
	}
		.search{
			display: inline-block;
			border-bottom: 1px solid #039be5;
			&:hover{
				border-color: #fff;
			}
			a{
				font-size: 10pt;
				color: #039be5;
				font-family: 'Roboto';
				font-weight: bold;
				text-decoration: none;
			}
			img{
				padding: 0 5px 0 0;
			}
		}
//main
.main{
	background: url(../img/main_bg.jpg) no-repeat center top;
	background-size: cover;
}
	.person_search{
		width: 475px;
		margin: 36px auto;
	}